@import "tailwindcss/base";
@import "../../../../deps/petal_components/assets/default.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS. */

/* Brand stripe */
.brand-stripe {
  height: 3px;
  background: linear-gradient(to right, #BC45F4, #7245F4, transparent);
}
